body {
  background: url('http://www.pixelmator.com/mac/tutorials/uncategorized/using-gradients/');
  font-family: 'Times New Roman';
}

#banner {
  width: 100%;
  height: auto;
}

.post {
  font-size: 20px;
  margin-bottom: 30px;
}
